<!doctype html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{gateway_fragments/layout :: layout(title = |#{auth.passwordReset.send.title} - ${site.title}|, head = null, body = ~{::body})}"
>
  <th:block th:fragment="body">
    <div class="gateway-wrapper password-reset-page-wrapper">
      <div th:replace="~{gateway_fragments/common::haloLogo}"></div>
      <div class="halo-form-wrapper">
        <h1 class="form-title" th:text="${sent} ? #{auth.passwordReset.sent.title} : #{auth.passwordReset.send.title}">
          找回密码
        </h1>
        <p class="hydro-auth-note" th:unless="${sent}" th:text="#{auth.passwordReset.send.description}">
          输入注册邮箱，我们会发送一封密码重置邮件。链接有时效限制，请尽快完成操作。
        </p>
        <form th:replace="~{gateway_fragments/password_reset_email_send::form}"></form>
        <div th:replace="~{gateway_fragments/common::passwordResetMethods}"></div>
      </div>
      <div th:replace="~{gateway_fragments/common::signupNoticeContent}"></div>
      <div th:replace="~{gateway_fragments/common::returnToSiteContent}"></div>
      <div th:replace="~{gateway_fragments/common::languageSwitcher}"></div>
    </div>
  </th:block>
</html>
